@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.p {
    position: relative;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

/* Mobile view (default) */
@media (max-width: 767px) {
    .p {
        font-size: 1.5rem;

    }
}

/* Desktop view */
@media (min-width: 768px) {
    .p {
        font-size: 2em;
    }
}